/* Unchanged */
* { 
	margin: 0; 
	padding: 0; 
}

.loader {

}

a:focus { 
	outline:none 
}

a {
	font-style:italic;
	color:#026CAA;
	text-decoration:none;
}

a:hover {
	color:#ff0099;
}

img { 
	border: 0

}

h1 {
	font-weight:normal;
	font-family:times, serif;
	font-style:italic;
}

body {
	font-family: times, serif;
	color: #fff;
	overflow:hidden;	
	text-align: center;
	margin:0; 
	padding:0;
}

.info a:hover {
	background: url("../images/arrow_up_on.gif") no-repeat center;
	height:16px;
	width:16px;
}
.info_header {
	border-bottom:1px solid #333;
	height:0px;
	margin-top:-4px;
	width:150px;
}

.menu {
	display:none;
	text-align:left;
	z-index:500000;
	position:absolute;
	margin-left:20px;	
	margin-top:20px;
	width:400px;	
	font-family:times, arial, sans;
	font-style:none;
	font-size:16px;
}

.project_details_container {
	display:none;
	width:535px;
	height:90px;
	filter:alpha(opacity=80); opacity: .8; -moz-opacity:.8;
	position:absolute;
	top:135px;
	left:215px;
	cursor:pointer;
	font-style:italic;
	font-size:72px;
	background-color:#ff0099;
	color:#fff;
	line-height:72px;
}

.print {
	cursor:pointer;
}

.project_info_container {
	display:none;
	top:0px;
	left:0px;
	right:0px;
	bottom:0x;
	background-image: url(../images/bg_overlay.png);
	z-index:5;
	position:absolute;	
	height:100%;
	width:100%;
	/*cursor:pointer;*/
}

*html .project_info_container {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");
	background-color: #333;
	height:900px;
	width:100%;
}

.project_info_table {
	font-family:helvetica, arial, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#fff;
	filter:alpha(opacity=90); opacity: .9; -moz-opacity:.9;
	width:340px;
	position:fixed;
	right:0px;
	height:100%;
	z-index:10;
	margin-top:0px;
	clear:both;
	top:0px;
	_float:right;
	z-index:40000;
}

.table_left {
	background-image:url(../images/bg_detail_shadow.png);
	width:25px;
}

*html .table_left {
	background-image:url();

}

.table_right {
	margin-top:0px;
	padding:20px;
	width:267px;
	background-color:#000;
	text-align:left;
	z-index:20;
	_height:100%;
}

.table_right h1 {
	font-family:times, serif;
	font-size:34px;
	padding:0px;
	margin-top:25px;
	margin-bottom:8px;
	color:#026CAA;
	font-weight:normal;
}

.table_right h2 {
	font-family:times, serif;
	font-size:18px;
	margin-left:0px;
	margin-bottom:5px;
	margin-top:12px;
	color:#026CAA;
	font-style:italic;
	font-weight:normal;
}

.table_right a {
	color:#FF0099;
	font-weight:regular;
}

.table_right a:hover {
	background-color:#FF0099;
	color:#000;
	font-weight:regular;
}

.detail_divider {
	border-top:1px solid #333;
	margin-top:0px;
	margin-bottom:15px;
	clear:right;
}

.detail_padding {
	padding:0px 10px 0px 10px;
}

.mac {
	background: url("../images/mac.jpg") no-repeat;
	height:443px;
	width:716px;
	cursor:pointer;
}

.mac img {
	margin-top:27px;
	margin-left:-3px;
}

/* drag */

#images {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images2 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images3 {
	z-index:0;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images4 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images5 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;
}

#images6 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images7 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images8 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;
}

#images9 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images10 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images11 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images12 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images13 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images14 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

#images15 {
	z-index:1;
	position:absolute;
	cursor:move;
	cursor:cross;
	height:100%;

}

/* end drag */

/* slider css */

.stripViewer .panelContainer .panel ul {
	text-align: left;
	margin: 0 0px 0 0px;
}

.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
	margin: 20px 0;
	position: relative;
	width: 100%;
	margin-top:-140px;
}

/* These 2 lines specify style applied while slider is loading */
.csw {width: 100%; height: 300px; background: #; overflow: hidden;}
.csw .loading {color:#;margin: 100px 0 300px 0; text-align: center;}

.stripViewer { /* This is the viewing window */
	position: relative;
	overflow: hidden; 
	margin: auto;
	width: 100%; /* Also specified in  .stripViewer .panelContainer .panel  below */
	height: 660px;
	clear: both;
	/*background: #fff;*/
}

.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
	position: relative;
	left: 0; top: 0;
	width: 100%;
	list-style-type: none;
	/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}

.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
	float:left;
	height: 100%;
	position: relative;
	width:880px;
}

.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
	
}

.wrapper {
	width:110%;
	font-family:times, serif;
	font-size:13px;

}

.wrapper a {
	color:#026CAA;
	text-decoration:none;
	font-style:italic;
}

.wrapper a:hover {
	color:#ff0099;
	text-decoration:none;
	font-style:italic;

}



.stripNav ul { /* The auto-generated set of links */
	list-style: none;
	display:none;
}

.stripNavL, .stripNavR { /* The left and right arrows */
	position: absolute;
	top: 130px;
	text-indent: -9000em;
	z-index:5;
}

.stripNavL a, .stripNavR a {
	display: block;
	height: 52;
	width: 52px;
}

.stripNavL {
	left: 0;
}

.stripNavR {
	right: 0;
}

.stripNavL {
	background: url("../images/arrow_left.gif") no-repeat center;
}


.stripNavL a:hover {
	background: url("../images/arrow_left_on.gif") no-repeat center;
}

.stripNavR {
	background: url("../images/arrow_right.gif") no-repeat center;
}

.stripNavR a:hover {
	background: url("../images/arrow_right_on.gif") no-repeat center;
}


/*********** end slider css **********/